drw.o
dwm
dwm.o
util.o
config.def.h.orig
config.def.h.rej
drw.o
dwm.1.orig
dwm.1.rej
dwm.c.orig
dwm.c.rej
dwm.o
util.o
dwm-attachaside-6.1.diff
dwm-cool-autostart-6.2.diff
dwm-removeborder-20200520-f09418b.diff
dwm-restartsig-20180523-6.2.diff
dwm-rotatestack-20161021-ab9571b.diff
dwm-statuspadding-20150524-c8e9479.diff
